/* Base styles ---------------------- */
html {
    font-family: $base-font;
    font-size: 62.5%;
}

body {
  position: relative;
  background-color: $background-color;
  color: $color;
}

.no-bullet, %no-bullet {
    list-style: none;
}

ul {
    &.no-bullet {
        @extend %no-bullet;
    }
}

/* Commonly used classes---------------------- */
.fill-remainder, %fill-remainder { float: none; overflow: hidden; } // when we want the last column to fill in the remainder of the row
.no-margin, %no-margin { margin: 0; }
.no-margin-i, %no-margin-i { margin: 0 !important; }
.no-padding, %no-padding { padding: 0; }
.no-padding-i, %no-padding-i { padding: 0 !important; }
.hide-c, %hide-c { text-indent: 100%; white-space: nowrap; overflow: hidden; }
.no-transition, %no-transition { @include transition (all 0s !important); }
.no-transition-i, %no-transition-i { @include transition (all 0s); }

/* Misc ---------------------- */
.left, %left { float: left; }
.right, %right { float: right; }
.text-left, %text-left { text-align: left; }
.text-right, %text-right { text-align: right; }
.text-center, %text-center { text-align: center; }
.no-list-style, %no-list-style { list-style: none; }
.hide, %hide { display: none; }
.hide-i, %hide-i { display: none !important; }
