/**
 * Base styles
 */
html {
    font-family: $base-font;
    font-size: 100%;
    $em-base: 16px;
}

body {
  position: relative;
  background-color: $background-colour;
  color: $colour;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
@include selection {
    background: $selection-colour;
    text-shadow: none;
}

.no-list-style,
%no-list-style {
    list-style: none;
}

ul {
    &.no-list-style {
        @extend %no-list-style;
    }
}

/* Misc ---------------------- */
.hide,
%hide {
    display: none;
}

// When we want the last column to fill in the remainder of the row
.fill-remainder,
%fill-remainder {
    float: none;
    overflow: hidden;
}
