/**
 * Base styles
 */
html {
    font-family: $base-font;
    font-size: 62.5%;
}

body {
  position: relative;
  background-color: $background-color;
  color: $color;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
@include selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.no-bullet, %no-bullet {
    list-style: none;
}

ul {
    &.no-bullet {
        @extend %no-bullet;
    }
}

.no-bullet,
%no-bullet {
    list-style: none;
}

ul {
    &.no-bullet {
        @extend %no-bullet;
    }
}

/* Misc ---------------------- */
.no-list-style,
%no-list-style {
    list-style: none;
}

.hide,
%hide {
    display: none;
}

.hide-i, %hide-i {
    display: none !important;
}

// When we want the last column to fill in the remainder of the row
.fill-remainder,
%fill-remainder {
    float: none; overflow: hidden;
}
