/**
 * Base styles ~ Colours
 */
$colour: #333333 !default;
$background-colour: #f7f5f2 !default;
$selection-colour: #b3d4fc !default;
$heading-colour: #333333 !default;
$link-colour: #939393 !default;
$link-colour-hovered: #000000 !default;
$code-colour: #444444 !default;
$blockquote-colour: #6f6f6f !default;
$hr-colour: #dddddd !default;

/**
 * Add custom colours and their respective classes, ie:
 *
 * $colour-red: #E23C3C;
 *
 * %red,
 * .red {
 *     color: $colour-red;
 * }
 *
 */