/* Colour variables ---------------------- */

$color: #333333;
$background-color: #f7f5f2;
$heading-colour: #333333;
$link-color: #939393;
$link-color-hovered: #000000;
$code-color: #444444;
$blockquote-color: #6f6f6f;
$hr-color: #dddddd;


// Add custom colours and their respective classes here
$red: #E23C3C;
$green: #4dc084;
$blue: #108bbe;

.red, %red {
    color: $red;
}

.green, %green {
    color: $green;
}

.blue, %blue {
    color: $blue;
}