@import "../../node_modules/node-neat/node_modules/bourbon-neat/app/assets/stylesheets/_neat-helpers";

/**
 * Base styles ~ Grid options
 */
$gutter: 0.3em;
$border-box-sizing: true;
$grid-columns: 12;
$max-width: none;
$visual-grid: false;
$visual-grid-color: darken(#EFF7FB, 10%);
