@import "./bower_components/neat/app/assets/stylesheets/_neat-helpers";

/* Base grid options *********************/
$gutter: 0.3em;
$border-box-sizing: true;
$grid-columns: 12;
$max-width: none;
$visual-grid: false;
$visual-grid-color: darken(#EFF7FB, 10%);