// Intro - Imports
// ====================
@import '../base/easings';

// Styles
// ====================
.intro {
  font-size: large;
}

.code {
  font-style: italic;
  transition: color 0.3s $bouncy;

  &:hover {
    color: blue;
  }
}
