/**
 * Main Project imports
 */

/**
 * Various project settings that need to be set globally
 */

/**
 * Bourbon & Neat Libraries
 */
@import "../node_modules/bourbon/app/assets/stylesheets/_bourbon";
@import "_base/_grid-settings";
@import "../node_modules/node-neat/node_modules/bourbon-neat/app/assets/stylesheets/_neat";

/**
 * Base styles
 */
@import "_base/_colours";
@import "_base/_easings";
@import "_base/_normalize";
@import "_base/_type";
@import "_base/_grid";
@import "_base/_forms";
@import "_base/_base";

/**
 * Reusable Component styles (header/footer/dropdowns etc)
 * Put them inside "common" folder
 */


/**
 * Module styles (individual page styles)
 * Put them inside "modules" folder
 */


/**
 * Plugin styles
 * Put them inside "plugins" folder
 */
