:global {
  body {
    margin: 0;
    padding: 0;
    // TODO: we should fix Stylelint's or Prettier's rules so they play nicely together. Getting a lot of `Expected newline after ":" with a multi-line declaration` errors.
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}

.home {
  text-align: center;
}

.homeLogo {
  animation: home-logo-spin infinite 20s linear;
  height: 80px;
  display: flex;
}

.homeHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.homeIntro {
  font-size: large;
}

.homeResources {
  list-style: none;
}

.homeResources > li {
  display: inline-block;
  padding: 1rem;

  &:last-child {
    background-color: grey;
  }
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
