// Intro - Imports
// ====================
@import '../base/easings';
@import '../layout/row';

// Styles
// ====================
.header {
  @extend .row;
}

.headerInner {
  grid-column: main;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #212121;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.nav {
  a {
    color: #212121;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
