/**
 *  This file specifies globally relevant classes.
 *
 *  DO NOT IMPORT node_modules PLUGINS HERE.
 *   If you need to import SASS for a node_modules package,
 *    do so in the component that uses it - keeps things
 *    clean and composible.
 */

// Components
// ========
// Style your components in the {Component}.scss file
//  in the same folder - composibility!

// Base styles
// ========
@import 'base/colours';
@import 'base/base';

// Typography
// ========
@import 'base/webfonts';
@import 'base/type';

// Globally available classes
// ========
// These classes won't be mangled by CSS Modules.
// => Try not to use :global to write _all_ your CSS ;)
:global {
  // Variables
  $colors: (
    black: $black,
    white: $white,
    grey: $grey,
    softgrey: $softgrey,
    blue: $blue,
    blue-medium: $blue-medium
  );

  // <p className="white">hello</p>
  @each $colour-class, $color-variable in $colors {
    %#{$colour-class},
    .#{$colour-class} {
      color: $color-variable;
    }
  }

  // <p className="border-color-white">hello</p>
  @each $colour-class, $color-variable in $colors {
    %border-color-#{$colour-class},
    .border-color-#{$colour-class} {
      border-color: $color-variable;
    }
  }

  // <p className="bg-white">hello</p>
  @each $colour-class, $color-variable in $colors {
    %bg-#{$colour-class},
    .bg-#{$colour-class} {
      background-color: $color-variable;
    }
  }
}
