.feedback {
  background: #f5f5f5;
  color: #333;
  padding: 20px 0;
}

.link,
.link:active,
.link:hover,
.link:visited {
  color: #333;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.spacer {
  padding-right: 15px;
  padding-left: 15px;
}
