.footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

.text {
  color: rgba(255, 255, 255, 0.5);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
