<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title><%= _.slugify(appname) %></title>

    <!-- Included Font Files -->

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="css/app.css">

    <script src="javascripts/plugins/modernizr.js"></script>
</head>
<body>
    <div class="main-container">

    </div>

    <!-- Initialize JS Plugins/Shims -->
    <script src="./bower_components/jquery/dist/jquery.js"></script>

</body>
</html>
