*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
}

body {
  color: $black;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*::selection {
  background: $black;
  color: $white;
  text-shadow: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

a {
  text-decoration: none;
  @include link-colors($black, $black, $black, $black);
}

blockquote,
figure {
  margin: 0;
}

hr {
  height: 1px;
  background: #eae6e6;
  border: 0;
  margin: 0;
}

textarea {
  resize: vertical;
}
