$black: #000;

$colour: #333;
$background-colour: #f7f5f2;
$selection-colour: #b3d4fc;
$heading-colour: #eee;
$link-colour: #00f;
$link-colour-hovered: #000;
$code-colour: #444;
$blockquote-colour: #6f6f6f;
$hr-colour: #ddd;
