// Define your site's colour scheme here
$black: #000;
$white: #fff;
$blue: #4b9dd6;
$blue-medium: #253c79;
$orange: #e2823a;
$orange-medium: #da513b;
$green: #9cb94a;
$grey: #4d4d56;

$colour: #667682;
$background-colour: $white;
$selection-colour: #b3d4fc;
$heading-colour: #333;
$link-colour: #939393;
$link-colour-hovered: #000;
$code-colour: #444;
$blockquote-colour: #6f6f6f;
$hr-colour: #ddd;
