// ========
// Define the site's colour scheme here
// ========

// Basics
// ========
// => Make sure to add all these to the
//     loop in /src/styles/global.scss
$black: #111;
$white: #fff;
$grey: #4d4d56;
$softgrey: #e7e7e7;
$blue: #4b9dd6;
$blue-medium: #253c79;

// Variables
// ========
// These can be used in other SASS files
//  by @importing this file.
$body-text-colour: #667682;
$background-colour: $white;
$selection-colour: #b3d4fc;
$heading-colour: #333;

// Anchor Elements
$link-colour: $blue-medium;
$link-colour-hovered: $blue;

// HTML Elements
$code-colour: #444;
$blockquote-colour: #6f6f6f;
$hr-colour: #ddd;
