@import "../addons/font-face";

/**
 *  Place your webfont files in /public/fonts, then
 *   define the names and paths here.
 */
// @include font-face("{fontname}", "/fonts/{fontname}-webfont");
// @include font-face("{fontname}_bold", "/fonts/{fontname}-bold-webfont");
// @include font-face("{fontname}_italic", "/fonts/{fontname}-italic-webfont");
// @include font-face("{fontname}_bolditalic", "/fonts/{fontname}-bolditalic-webfont");

// Type variables
$base-font: sans-serif !default;
$bold-font: sans-serif !default;
$italic-font: sans-serif !default;
$bolditalic-font: sans-serif !default;
